<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300543936591-p9ct4uc4ui3hu6k7ipn0c49kdibmrt00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300543936591-p9ct4uc4ui3hu6k7ipn0c49kdibmrt00</string>
	<key>API_KEY</key>
	<string>AIzaSyBXIvpj9n4ZyxKkoFntre7-ej8M2TWqKPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>300543936591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutterflow.ridedriver</string>
	<key>PROJECT_ID</key>
	<string>bright-gearbox-269314</string>
	<key>STORAGE_BUCKET</key>
	<string>bright-gearbox-269314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300543936591:ios:e7e797512950902171423a</string>
</dict>
</plist>