<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803333276564-r9r1otb7adq5kko6j70c0ku4952961cu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803333276564-r9r1otb7adq5kko6j70c0ku4952961cu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>803333276564-2n6nfe8k5of7e73r5e3q31385cnsbdu3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-Oy9IMyXBA3gXli3VIFsxvQU8VsteLMs</string>
	<key>GCM_SENDER_ID</key>
	<string>803333276564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutterflow.ridedriver</string>
	<key>PROJECT_ID</key>
	<string>mapstracking-13463</string>
	<key>STORAGE_BUCKET</key>
	<string>mapstracking-13463.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803333276564:ios:caceabb830a9b918d04581</string>
</dict>
</plist>